<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=750,target-densitydpi=340,user-scalable=no">
    <title>添加好友</title>
    <link rel="stylesheet" href="/home/css/public.css" />
    <link rel="stylesheet" href="/home/css/group.css" />
  </head>
  <body id="body_bg">
    <form method="post">
      <div class="nav_data">
          <div class="left" onclick="location.href='/user/index'">添加好友</div>
          <div class="right"><button>发送</button></div>
      </div>
      <div class="data_box">
        <ul>
            <li>
                <input type="text" placeholder="请输入好友名称" name="friendname" required />
            </li>
            <li>
              <select name="groupid" required>
              {{#each(group)}}
                <option value="{{this.id}}">{{this.name}}</option>
              {{/each}}
              </select>
            </li>
            <li>
              <textarea name="content" value="你好！我是{{user.username}}" onfocus="if(this.value=='你好！我是{{user.username}}'){this.value=''}" onblur="if(this.value==''){this.value='你好！我是{{user.username}}';}">你好！我是{{user.username}}</textarea>
            </li>
        </ul>
      </div>
    </form>
  </body>
</html>